<h1>Send Email using AWS-SES</h1>
<div id="outbox">
<form [formGroup]="aboutDetails" id="msform">
  <div id="a" class="modal-footer">
    <button type="button" class="btn btn-primary" 
    (click)="sendemail()" data-bs-dismiss="modal">Send</button>
  </div>
      <div id="textbox">
        <label>To:</label>
        <input class="form-control" type="text" placeholder="Email..." formControlName="to_email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [ngClass]="{'is-invalid': aboutDetails.controls.to_email.touched && aboutDetails.controls.to_email.errors && aboutDetails.controls.to_email.invalid
      && aboutDetails.controls.to_email}">
      </div>
      <br>
      <div id="textbox">
        <label>Subject:</label>
        <input class="form-control" type="text" placeholder="Subject...."  formControlName="_subject">
      </div>
      <br>
      <label id="t">Message:</label>
      <div id="textbox">
        <!-- <label>Message:</label> -->
       
        <textarea class="form-control" type="text" placeholder="Message...." formControlName="_textarea"></textarea>
      </div>
      <div  class="modal-footer">
        <button type="button" class="btn btn-primary" 
        (click)="clearform();" data-bs-dismiss="modal">Clear</button>
      </div>
  </form>
</div>

